._demo--container
  a.wordmark(href='http://www.ibm.com/watson/developercloud/')
    span.wordmark--left IBM
    span.wordmark--right Watson Developer Cloud

._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
          | Garbage Classification
        .banner--service-description
          | Just image you are dumping garbage into an intelligent classification system, it will tell the result after you put a kind of garbage into this container which only collect recycable garbage.


